@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }
}



.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('/unilagimage.jpg');
  background-size: cover;
  background-position: center;
}

.navbar {
  margin: auto;
}

ul li {
  list-style: none;
  margin-top: 20px;
  font-size: 14px;
}

ul li a {
  font-family: Arial;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

ul li a:hover {
  color: orange;
}

.content {
  font-family: Arial;
}

.content .par {
  padding-top: 25px;
  padding-bottom: 25px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-family: Arial;
}

.content h1 {
  font-family: 'Times New Roman';
}


/*about page*/
.about-page {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('/unilagimage.jpg');
  background-size: cover;
  background-position: center;
}

/*map page*/
.map-page {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url('/unilagimage.jpg');
  background-size: cover;
  background-position: center;
}
